<div class="row">
    <div class="column">

<div>
      <b>  <label style="padding-right:30px">Background color </label> </b>
     <select (change)="selectEventHandler($event)">
            <option value="please select">Please select</option>
            <option value="pink">Pink</option>
             <option value="Blue">Blue</option>
            <option value="red">Red</option>
            <option value="Yellow">Yellow</option>
            <option value="Black">Black</option>
        </select>
    </div>
    <br>
   
  <div>
      
        <b><label style="padding-right:85px">Font color </label></b>
        <select (change)="selectEventHandler1($event)">
                <option value="please select">Please select</option>
               <option value="pink">Pink</option>
                <option value="Blue">Blue</option>
               <option value="red">Red</option>
               <option value="Yellow">Yellow</option>
               <option value="Black">Black</option>
           </select>

        </div>
        <br>
       
        <div>

        <b><label style="padding-right:75px">date Format</label></b>
        <select (change)="selectEventHandler2($event)">
                <option value='MM/DD/YYYY'>MM/DD/YYYY</option>
               <option value='DD/MM/YYYY'>DD/MM/YYYY</option>
           </select>
        </div>
        <br>
        <div>

                <b><label style="padding-right:115px">Width</label></b>
                <select (change)="selectEventHandler3($event)">
                        <option value='250px'>250px</option>
                       <option value='260px'>260px</option>
                   </select>
                </div>
    </div> 
    <div class="column">
<div class="container-input">
     <form [formGroup]='dateForm'> 
           
  <input type="text" name="dateFrom" placeholder="start date" formControlName="dateFrom" >
    <input type="text" name="dateTo" placeholder="end date" formControlName="dateTo">
    <button class="primary" (click)='reserve()'>Generate</button>
    
</form>


</div>
<div class = "c" *ngIf='isReserved' class='reserved'>
    {{isReserved}}

</div>

<div class="parent-container">
<div class="row">
    <div class="column">
        <div class="container-month">
                <div class='fa fa-chevron-left' (click)='previousMonth()' style="padding-right:30px"  ></div>
                <div style="padding-right:110px">{{current}}</div>
        </div>
 <div class="container" [style.width]=getWidth() >
      
    <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">S</div>
    <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">M</div>
    <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">T</div>
    <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">W</div>
    <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">T</div>
    <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">F</div>
    <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">S</div> 
    <div id ="calendar-container" class="container">
        <div *ngFor='let day of daysArr'>
          <div class='calender-days' [style.background-color]="getColor()" [style.color]="getFont()" (click)='selectedDate(day)' [ngClass]="{'inactive ': !day, 'selected': isSelected(day), 'today': todayCheck(day)}">{{day?.date()}}</div>
         
       </div>
    </div>
    </div>
    </div>
    </div>
    <div class=row>
    <div class="column">
           <div class="container-month">
                <div style="padding-left:60px">{{next}}</div>
                <div class="fa fa-chevron-right"(click)='nextMonth()' style="padding-left:20px"></div>
           </div>
            <div class="container" [style.width]=getWidth()>
                    
               <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">S</div>
               <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">M</div>
               <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">T</div>
               <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">W</div>
               <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">T</div>
               <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">F</div>
               <div class ="calender-days" [style.background-color]="getColor()" [style.color]="getFont()">S</div> 
               <div id ="calendar-container" class="container">
                   <div *ngFor='let day of daysArrNext'>
                     <div class='calender-days' [style.background-color]="getColor()" [style.color]="getFont()" (click)='selectedDate(day)' [ngClass]="{'inactive ': !day, 'selected': isSelected(day), 'today': todayCheck(day)}">{{day?.date()}}</div>
                  </div>
             
                 </div> 
               </div> 
            </div>
 </div>
</div>

</div> 
</div> 
  